<h2>Player not found, please try again</h2>
<%= form_tag player_path(id: 0), method: 'get' do %>

  <%= text_field_tag :player_id, params[:player_id], placeholder: "Search Players"%>
  <%= submit_tag "Search"%>

<% end %>
