
<% if @matches && @matches.any? %>
<div>
  <h2 class="right"><%= @player.nickname %>'s Recent Matches:</h2>
  <%= image_tag @player.avatar_url, alt: @player.nickname, title: @player.nickname, class: "left"%>
</div>
  <table class="table table-striped table-hover">
    <% @matches.each do |match| %>
    <tr>
      <td>
        <%= render 'player_hero', hero: @player.played_for_in(match) %>
        <%= link_to match.formatted, match_path(match), class:"match-link" %>
        <% if @player.won?(match)%>
          <span class="label label-success">won</span>
        <% else %>
          <span class="label label-danger">lost</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
