

<% if @matches && @matches.any? %>
<h2>Your Recent Matches:</h2>
  <table class="table striped highlight bordered">
    <% @matches.each do |match| %>
    <tr class="row">
      <td>
        <%= render 'player_hero', hero: current_user.played_for_in(match) %>
        <%= link_to match.local, match_path(match) %>
        <% if current_user.won?(match)%>
          <span class="label radiant">won</span>
        <% else %>
          <span class="label dire">lost</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
