<h3>Welcome to DotaGuys!</h3>

<p>Please log in with your Steam account to view your recent matches</p>
<p>Alternatively, search for players by 32-bit or 64-bit Steam ID</p>

<div>
  <div class="card grey lighten-3 z-depth-2">
    <div class="card-content">
        <%= form_tag player_path(id: 0), method: 'get' do %>
          <div>
            <%= label_tag :player_id, "Enter Steam ID here" %>
            <%= text_field_tag :player_id, params[:player_id], class: "validate" %>
          </div>
          <%= submit_tag "Search"%>
        <% end %>
      </div>
    </div>
</div>
